# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/

# Django
*.log
*.sqlite3
media/
static/

# Docker
.dockerignore
!Dockerfile
!docker-compose.yml

# IDE
.idea/
.vscode/
.DS_Store

# Virtual environment files
.venv/
env/